<div class="border border-success m-3">
    <div class="container-fluid caja p-4">
        <br><br>
        <div class="row d-flex align-items-end ">
            <img class="col-2 img-fluid" src="..\assets\perfil.jpg" alt=""> 
            <div class="col-10 sub-caja text-white p-2">
                <h1>José Damián Mumoli</h1>
                <p>Técnico en computación.</p>
                <p>Buenos Aires, Argentina.</p>
                <p>Intereses</p>
            </div>
        </div>
    </div>
</div>   


