<div class="border border-success m-3 p-2 caja text-light">
    <h3>Educación</h3>

    <div class="container">
        <ul>
            <li>
                <div class="row m-1 p-1">
                    <div class="col-2">
                        <img class="img-fluid" src="..\assets\logoescuela.jpg" alt="">
                    </div>
                    <div class="col-10">
                        <h3>Hogar Naval "Stella Maris"</h3>
                        <h4>Técnico en computación</h4>
                        <h5>2002 - 2009</h5>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, provident illum suscipit dolorum asperiores saepe accusantium aliquam esse? Eaque ea, aliquid voluptatem harum autem quae consequatur. Mollitia quisquam fugit laboriosam?
                        </p>
                    </div>
                </div>
            </li>

            <li>
                <div class="row m-1 p-1">
                    <div class="col-2">
                        <img class="img-fluid " src="..\assets\logoargprog.gif" alt="">
                    </div>
                    <div class="col-10">
                        <h3>Argentina Programa</h3>
                        <h4>Programación Full Stack</h4>
                        <h5>2022</h5>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, provident illum suscipit dolorum asperiores saepe accusantium aliquam esse? Eaque ea, aliquid voluptatem harum autem quae consequatur. Mollitia quisquam fugit laboriosam?
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>