<div class="border border-success m-3 p-2 caja text-light">
    <h3>Proyectos</h3>

    <div class="container">
        <ul>
            <li>
                <div class="row m-1 p-1">
                    <div class="col-2">
                        <img class="img-fluid" src="..\assets\vetecuki.png" alt="">
                    </div>
                    <div class="col-10">
                        <h4>Veterinaria Cuki</h4>
                        <a href="https://jdmumo.github.io/VeteCuki/" target="_blank">Ir al proyecto</a>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, provident illum suscipit dolorum asperiores saepe accusantium aliquam esse? Eaque ea, aliquid voluptatem harum autem quae consequatur. Mollitia quisquam fugit laboriosam?
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>