<div class="border border-success m-3 p-2 caja text-light">
    <h3>Experiencia</h3>

    <div class="container">

        
            <ul>
                <li>
                    <div class="row m-1 p-1">
                        <div class="col-2">
                            <img class="img-fluid" src="..\assets\adoos.jpg" alt="">
                        </div>
                        <div class="col-10">
                            <h4>Adoos Networks</h4>
                            <h5>Internet</h5>
                            <h6>2010 - 2011</h6>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, provident illum suscipit dolorum asperiores saepe accusantium aliquam esse? Eaque ea, aliquid voluptatem harum autem quae consequatur. Mollitia quisquam fugit laboriosam?
                            </p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row m-1 p-1">
                        <div class="col-2">
                            <img class="img-fluid" src="..\assets\rodio.jpg" alt="">
                        </div>
                        <div class="col-10">
                            <h4>Rodio Consulting</h4>
                            <h5>Consultoría</h5>
                            <h6>2011 - 2012</h6>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, provident illum suscipit dolorum asperiores saepe accusantium aliquam esse? Eaque ea, aliquid voluptatem harum autem quae consequatur. Mollitia quisquam fugit laboriosam?
                            </p>
                        </div>
                    </div>
                </li>

            </ul>        

    </div>
</div>