*
{
    
}
#uno 
{
    display: inline-block;
    font-size: 10px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.n
{
    height: 55px;
}
.i
{
    margin-left: 5px;
    color: aliceblue;
}
.b-i-s
{
    /*padding: 5px;*/
}

.cont
{
    border: 1px solid blue;
}
.fila
{
    border: 1px solid red;
}
.colu
{
    border: 1px solid greenyellow;
}